/*---- Generelle indstillinger ------ */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
}

img {
    width: 100%;
}

section {
    max-width: 1200px;
    margin: 0 auto;




}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;


}


a {
    text-decoration: none;

}

/***Grundlæggende indstillinger SLUT***/


/****Animation forsiden***/


#anigrund .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    /*    justify-content: space-between;*/
    padding: 1rem;

}


#animagrund .col_txt {
    flex-basis: 500px;
    flex-grow: 1;



}

#animagrund .col_image {
    flex-basis: 300px;
    flex-grow: 1;


}


#animagrund .box {

    max-width: 15rem;
    margin: 0.1rem;
    background-color: #F6D04B;
    text-align: center;
    padding: 0.1rem;
    color: white;
}

/***SLUT***/

/****web****/



#grund_web .col {
    flex-basis: 600px;
    flex-grow: 1;
    margin: 1rem;



}

#grund_web iframe {
    width: 95vw;
    height: 56.25vw;
    border: 0;

}

/*
#web .box {
    max-width: 15rem;
    margin: 0.1rem;
    background-color: #c7aea0;
    text-align: center;
    padding: 0.1rem;
    color: white;

}
*/

/**spil**/

#animation iframe {
    width: 100vw;
    height: 56.25vw;
    border: 0;

}




#skitserspil .col {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0.5rem 0.1rem;



}

#skitserspil .col .img {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0.5rem 0.1rem;


}


#moodboardspil .col {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 0.5rem 0.1rem;


}

#spil_screen .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#spil_screen .col {
    flex-grow: 1;
    flex-basis: 600px;


}

#spil_screen .col1 {
    flex-grow: 1;
    flex-basis: 600px;

}

#spil_screen .col {
    flex-grow: 2;
    flex-basis: 300px;
    margin: 0.5rem 0.1rem;
}

#screen img {
    height: 200px;
    width: 200px;
}

#spilelementer img {
    height: 200px;
    width: 200px;

}



#uielementer img {
    height: 200px;
    width: 200px;

}


/**spil færdig**/




/***UX****/
#ux_tema .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;


}

#ux_tema .col {
    padding: 1rem;
    margin: 1rem;
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;


}

#ux_tema .img {
    height: 85%;

}

#ux_tema .box {
    max-width: 15rem;
    margin: 0.1rem;
    background-color: #F6D04B;
    text-align: center;
    padding: 0.1rem;
    color: white;
}

#ux_tema a {
    text-decoration: none;
}


/***Designs.html***/
#pdf_design iframe {
    width: 100vw;
    height: 56.25vw;
    border: 0;

}

/**SLUT**/

/***portfolie**/


#temaer .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#temaer .col {
    flex-grow: 1;
    flex-basis: 300px;
    /*    margin: 0.5rem 0.1rem;*/


}


#tema2 .col {
    flex-grow: 1;
    flex-basis: 300px;
    /*    margin: 0.5rem 0.1rem;*/


}


#indhold .col {
    flex-grow: 1;
    flex-basis: 500px;
    /*    margin: 0.5rem 0.1rem;*/

}

/*

#temaer .top .img {
    border: 1px solid red;
    border-radius: 10px;

}
*/


/***menu***/

header {
    width: 100vw;
    background-color: #FFC077;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;

}


header nav a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem;
    color: white;
}



header nav a:visited {
    color: #ffffff;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

#menuknap {
    display: inline-block;
    color: white;
    margin: 0.5rem;
}






/*****Menu SLUT*****/


/**** media INDSTILLINGER **/

@media only screen and (min-width:800px) {

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header li {
        display: inline-block;
        letter-spacing: 1px;

    }

    header nav {
        padding: 0.1rem;
    }


    header nav li {
        padding: 0.3rem;
        background-color: transparent;
        margin: 0.8rem;
        text-decoration: none;
        color: black;
    }



    @media only screen and (min-width: 800px) #animationtxt .col {
        flex-grow: 1;
        flex-basis: 300px;
    }
